@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url(BngRUXNadjH0qYEzV7ab-oWlsbCCwRk.eot)/*tpa=http://fonts.gstatic.com/s/ptsansnarrow/v9/BngRUXNadjH0qYEzV7ab-oWlsbCCwRk.eot*/;
}
